.Review {
	width: 1100px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	background: #d9c9ae;
	padding: 15px;
}
@media only screen and (max-width: 1200px) {
	.Review {
		width: 800px;
	}
}
@media only screen and (max-width: 1000px) {
	.Review {
		width: 500px;
	}
}

@media only screen and (max-width: 600px) {
	.Review {
		width: 400px;
	}
}

.Review-Text {
	width: 95%;
	margin-left: 20px;
}
.Review-Title {
	text-align: center;
}
.UserName {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row-reverse;
	justify-content: space-around;
	margin: 20px;
}
.ReviewTop {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	justify-content: flex-end;
}

.Star-Rating {
	font-size: 30px;
}

.Review-Wrapper {
	display: flex;
	margin-bottom: 20px;
	flex-direction: row;
}

.Review-Image {
	max-height: 80px;
	max-width: 80px;
	margin-left: 20px;
}
.spacer {
	height: 200px;
}
.Login-Page {
	background-image: url(images/facebook_cover_photo_2.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 500px;
	height: 400px;
	padding-bottom: 300px;
	padding-top: 30px;
}
.login-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 300px;
	margin: 0 auto;
	text-align: center;
	width: 270px;
	margin-top: 50px;

	background-color: black;
}
.Review-Field {
	width: 500px;
	height: 350px;
}

@media only screen and (max-width: 550px) {
	.Review-Field {
		width: 424px;
		height: 350px;
		margin: 0 auto;
	}
}
@media only screen and (max-width: 410px) {
	.Review-Field {
		width: 87%;
	}
}

.Review-Form {
	font-size: 25px;
}

.Review-Form-Wrapper {
	text-align: center;
	display: flex;
	flex-direction: column;
}
.Agg-Rating {
	font-size: 35px;
	margin-bottom: 20px;
}

.Register-Form-Wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 500px;
	background-color: whitesmoke;
	opacity: .8;
	border-radius: 8px;
	padding-bottom: 100px;
	padding-top: 100px;
}
.BookImage {
	text-align: center;
	width: 260px;
	height: 400px;
}
.Cover-Image {
	width: 41%;
}

.Register-Wrapper {
	background: #d9c9ae;
	padding-bottom: 200px;
	background-image: url(https://images.unsplash.com/photo-1532153955177-f59af40d6472?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	padding-top: 200px;
}
input {
	margin: 9px;
	border: 2px solid darkslategray;
	border-radius: 5px;
	font-size: 20px;
	background: whitesmoke;
}
button {
	background: #cd871b;
	padding: 5px 15px 5px 15px;
	color: whitesmoke;
	border-radius: 8px;
	font-size: 15px;
	border: none;
	cursor: pointer;
	outline: none;
	margin: 10px;
	font-size: 20px;

	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	border-radius: 4px;
	text-transform: uppercase;
}
button:hover {
	background: forestgreen;
	outline: none;
}
button:active {
	outline: none;
	border: none;
}
body {
	background: whitesmoke;
}
h2 {
	margin-right: 15px;
	text-align: center;
}
.BookTitle {
	font-size: 40px;
}
@media only screen and (max-width: 500px) {
	.BookTitle {
		text-align: center;
		font-size: 37px;
	}
}

.BookTitleList {
	font-size: 20px;
}
@media only screen and (max-width: 1000px) {
	.BookTitleList {
		text-align: center;
		margin: 24px;
		padding-top: 20px;
	}
}

.NavLinks {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-around;
	background-image: url("https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1753&q=80");
	height: 90px;
	position: sticky;
	top: 0;
	z-index: 1;
}
.Link {
	text-decoration: none;
	color: whitesmoke;
	padding: 5px 50px 5px 50px;
	margin-top: 25px;
	border-radius: 5px;
	color: #3f51b5;
	border: 1px solid rgba(63, 81, 181, 0.5);
	line-height: 1.75;
	font-weight: 500;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	border-radius: 4px;
	padding: 12px;
	text-transform: uppercase;
	font-size: 15px;
}

.nav-link a.active {
	background: darkseagreen;
	font-size: 20px;
}
.nav-link a {
	text-decoration: none;
	color: whitesmoke;
	background: forestgreen;
	padding: 5px 25px 5px 25px;
	border-radius: 5px;
	margin-right: 10px;
	font-size: 20px;
}
.nav-link a:hover {
	background: #cd871b;
}
.NavLink {
	line-height: 1.75;
	font-weight: 500;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	border-radius: 4px;
	text-transform: uppercase;
	font-size: 20px;
}
.NavLink .active {
	box-shadow: 5px 10px;
}
.book-link {
	text-decoration: none;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.Books {
	color: black;
	background: linear-gradient(
		0deg,
		rgba(211, 211, 211, 1) 0%,
		rgba(211, 211, 211, 1) 68%,
		rgba(245, 252, 255, 1) 69%,
		rgba(245, 252, 255, 1) 100%
	);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 445px;
	margin: 20px;
	height: 690px;
}
@media only screen and (max-width: 600px) {
	.Book-Flex {
		flex-direction: column;
	}
}
.Update-Delete {
	display: flex;
	width: 800px;
	justify-content: flex-end;
	margin-top: 10px;
	flex-direction: column;
	align-items: center;
	font-size: 20px;
}
@media only screen and (max-width: 950px) {
	.Update-Delete {
		margin-top: 105px;
	}
}

.Review-Button {
	margin-top: 20px;

	text-align: center;
}

.Delete-Button {
	margin-bottom: 20px;
}
.Cover-Image {
	width: 41%;
}
.Modal-Btn {
	margin: 15px;
}
.Book {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 10px 10px 20px 10px;
	border-radius: 5px;
}
.BookInfoWrapper {
	width: auto;
	padding: 20px;
}
@media only screen and (max-width: 950px) {
	.BookInfoWrapper {
		width: 90%;
		margin-top: 30px;
	}
}

.BookInfo {
	display: flex;
	justify-content: center;
	flex-direction: column;
	list-style-type: none;
}
@media only screen and (max-width: 950px) {
	.BookInfo {
		height: 0px;
		width: 100%;
		padding-inline-start: 0px;
	}
}

.Delete-Book {
	width: 200px;
	margin-right: 800px;
}
.Book-Top {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.book-link {
	margin: 0 auto;
}
@media only screen and (max-width: 840px) {
	.book-link {
		width: 50%;
	}
}

.Book-Flex {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background: #d9c9ae;
	margin: 0 auto;
	padding-top: 40px;
	border-radius: 5px;
	width: 100%;
}

.book-list {
	margin-top: 10px;
}
.Book-Info {
	display: flex;
	flex-direction: column;
	margin: 10px 10px 10px 10px;
}
.Book-Page {
	background: #d9c9ae;
	padding: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.Books-Content {
	text-align: center;
}
h1 {
	text-align: center;
}
.Login-Title {
	color: whitesmoke;
}
.Register-Btn {
	margin-top: 45px;
	padding: 10px 85px 10px 85px;
}

.displayNone {
	display: none;
}

.Footer {
	text-align: center;
	background-image: url("https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1753&q=80");
	margin: 0;
	padding: 152px;
}

.RegisterTitle {
	margin-top: -20px;
}
.UpdateDelete {
	display: flex;
	margin: 10px;
	font-size: 20px;
}
.DeleteButton {
	margin-right: 10px;
	font-size: 20px;
}

.BookImage {
	text-align: center;
}

li {
	line-height: 1.75;
	font-weight: 500;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-size: larger;
}
.BookCover {
	width: 550px;
	margin-bottom: 30px;
	height: 800px;
}

@media only screen and (max-width: 900px) {
	.BookCover {
		width: 443px;
		margin-bottom: 70px;
		height: 628px;
	}
}
@media only screen and (max-width: 500px) {
	.BookCover {
		width: 383px;
		margin-bottom: 0px;
	}
}

.CoverImage {
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 450px) {
	.CoverImage {
		width: 89%;
		height: 85%;
	}
}

.Cover {
	width: inherit;
}
.TitleRating {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.BookInforWrapper {
	width: 60%;
	margin-top: 20px;
	margin-bottom: 20px;
}

@media only screen and (max-width: 950px) {
	.BookInforWrapper {
		margin-bottom: 105px;
		width: 60%;
	}
}
@media only screen and (max-width: 650px) {
	.BookInforWrapper {
		margin-bottom: 150px;
		width: 73%;
	}
}
@media only screen and (max-width: 450px) {
	.BookInforWrapper {
		margin-bottom: 130px;
		margin-top: 36px;
		width: 100%;
		text-align: left;
	}
}
